@{
    ViewBag.Title = "GateReserveSetup";
}
<style type="text/css">
    .canUse{cursor: pointer;}
    .canUse:hover{background-color: #b0b0b0;}
</style>
<script type="text/javascript">
    var _uid = "@ViewBag.Uid";
    var schemas = "@ViewBag.schemas.Content";
    var page = "R";
    _status = "";
    jQuery(document).ready(function($) {
        $("#SearchRDate").wrap('<div class="input-group">').datepicker({
            showOn: "button",
            changeYear: true,
            dateFormat: "yy-mm-dd",
            beforeShow: function() {
                setTimeout(function(){
                    $('.ui-datepicker').css('z-index', 99999999999999);
                }, 0);
            },
            onClose: function (text, inst) {
                $(this).focus();
            }
        })
        .next("button").button({
            icons: { primary: "ui-icon-calendar" },
            label: "Select a date",
            text: false
        })
        .addClass("btn btn-sm btn-info").html("<span class='glyphicon glyphicon-calendar'></sapn>")
        .wrap('<span class="input-group-btn">')
        .find('.ui-button-text')
        .css({
            'visibility': 'hidden',
            'display': 'inline'
        });

        $("#searchBtn").click(function(){
            var form = $("#SearchForm");
            var obj = form.serializeArray();
            var postData = {};
            $.each(obj, function(index, val) {
                postData[obj[index].name] = obj[index].value;
            });

            $.ajax({
                async: true,
                url: rootPath + "GateManage/GetRVD",
                type: "POST",
                data: postData,
                dataType: "json",
                beforeSend: function () {
                    CommonFunc.ToogleLoading(true);
                },
                success: function (result) {
                    console.log(result);
                    if(result.message == "success")
                    {
                        var str = "";
                        $.each(result.data, function(i, val) {
                            str += "<tr>";
                            str += "<td>"+(i+1)+"</td>"
                            if(result.data[i].Lift == "Y")
                            {
                                str += "<td class='upDownColor'>"+result.data[i].GateNo+"</td>";
                            }
                            else
                            {
                                str += "<td>"+result.data[i].GateNo+"</td>";
                            }
                            for(var j=0; j<24 ; j++)
                            {
                                if(result.data[i]["H"+j] == 1)
                                {
                                    if(result.data[i]["C"+j] == cmp)
                                    {
                                        str += "<td class='myColor'></td>";
                                    }
                                    else
                                    {
                                        str += "<td class='otherColor'></td>";
                                    }
                                }
                                else
                                {
                                    str += "<td class='canUse' canUse='true' ReserveFrom='"+j+"' GateNo='"+result.data[i].GateNo+"' WsCd='"+result.data[i].WsCd+"'></td>";
                                }
                            }
                            str += "</tr>";
                        });
                        
                        $("#RVTable tbody").html("");
                        $("#RVTable tbody").append(str);
                    }
                    CommonFunc.ToogleLoading(false);
                }
            });
        });

        $("#RVTable").on("click", "td[canUse='true']", function(){
            var ReserveFrom = $(this).attr("ReserveFrom");
            var GateNo = $(this).attr("GateNo");
            var WsCd = $(this).attr("WsCd");
            var SearchMfNo = $("#SearchMfNo").val();
            var hasClicked = $(this).hasClass('clicked');
            var SearchRDate = $("#SearchRDate").val(); 
            if(_status == "edit" && hasClicked == false)
            {
                $("#RVTable td").removeClass('clicked');
                $(this).addClass('clicked');
                if($("#ReserveFrom").prop("disabled") == false)
                {
                    $("#ReserveFrom").val(ReserveFrom);
                }

                if($("#GateNo").prop("disabled") == false)
                {
                    $("#GateNo").val(GateNo);
                }

                if($("#WsCd").prop("disabled") == false)
                {
                    $("#WsCd").val(WsCd);
                    $("#MfNo").val(SearchMfNo); 
                }

                if($("#ReserveDate").prop("disabled") == false)
                {
                    $("#ReserveDate").val(SearchRDate);
                }
            }
            
        })
    });
</script>
<style type="text/css">
    .otherColor{background-color: #91E67B;}
    .myColor{background-color: #6BBFF1;}
    .fixColor{background-color: #FFC458;}
    .clicked{background-color: #FF6565;};
    .upDownColor{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff84a0+0,ffffff+99 */
        background: #ff84a0; /* Old browsers */
        background: -moz-linear-gradient(top,  #ff84a0 0%, #ffffff 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ff84a0 0%,#ffffff 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ff84a0 0%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff84a0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
</style>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body" style="overflow-x:scroll;">
                    <form id="SearchForm">
                        <div class="pure-g">
                            <div class="pure-u-sm-5-60">
                                <label class="control-label">@Resources.Locale.L_RoleSetUp_CMP</label>
                            </div>
                            <div class="pure-u-sm-8-60 control-group">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="SearchCmp" name="SearchCmp" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-info" type="button" id="CmpLookup">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                                <p class="help-block tooltips"></p>
                            </div>
                            <div class="pure-u-sm-17-60">
                                <input type="text" class="form-control input-sm" id="CmpNm" readonly />
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-sm-5-60">
                                <label for="SampleName" class="control-label">@Resources.Locale.L_GateReserve_WsCd</label>
                            </div>
                            <div class="pure-u-sm-8-60 control-group">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="SearchWsCd" name="SearchWsCd" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-info" type="button" id="WsCdLookup">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                                <p class="help-block tooltips"></p>
                            </div>
                            <div class="pure-u-sm-4-60">
                                <input type="text" class="form-control input-sm" id="SearchMfNo" readonly />
                            </div>
                            <div class="pure-u-sm-5-60 label-right">
                                <label for="SearchRDate" class="control-label">@Resources.Locale.L_GateReserve_ReserveDate</label>
                            </div>
                            <div class="pure-u-sm-8-60 control-group">
                                <input type="text" class="form-control input-sm" id="SearchRDate" name="SearchRDate" />
                                <p class="help-block tooltips"></p>
                            </div>
                            <div class="pure-u-sm-1-60"></div>
                            <div class="pure-u-sm-10-60">
                                <button class="btn btn-sm btn-info" type="button" id="searchBtn">@Resources.Locale.L_MenuBar_Search</button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered" id="RVTable">
                        <thead>
                            <tr style="background:#F3F3F3">
                                <th>Seq</th>
                                <th>Gate No.</th>
                                <th>00:00</th>
                                <th>01:00</th>
                                <th>02:00</th>
                                <th>03:00</th>
                                <th>04:00</th>
                                <th>05:00</th>
                                <th>06:00</th>
                                <th>07:00</th>
                                <th>08:00</th>
                                <th>09:00</th>
                                <th>10:00</th>
                                <th>11:00</th>
                                <th>12:00</th>
                                <th>13:00</th>
                                <th>14:00</th>
                                <th>15:00</th>
                                <th>16:00</th>
                                <th>17:00</th>
                                <th>18:00</th>
                                <th>19:00</th>
                                <th>20:00</th>
                                <th>21:00</th>
                                <th>22:00</th>
                                <th>23:00</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">

                    	<div class="pure-u-sm-5-60">
                            <label for="ReserveNo" class="control-label">@Resources.Locale.L_GateReserve_ReveseNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="ReserveNo" name="ReserveNo" fieldname="ReserveNo" isKey="true"  readonly />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CallDate" class="control-label">@Resources.Locale.L_GateReserveSetup_CallDate</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                        	<input type="text" dt="mt" class="form-control input-sm" id="CallDate" name="CallDate" fieldname="CallDate" readonly />                            
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="UseDate" class="control-label required">@Resources.Locale.L_GateReserveSetup_UseDate</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                        	<input type="text" dt="mt" class="form-control input-sm" id="UseDate" name="UseDate" fieldname="UseDate" required readonly />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                    	    <label for="Status" class="control-label">@Resources.Locale.L_GateReserve_Status</label>
                    	</div>
                    	<div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="Status" name="Status" fieldname="Status" readonly>
                                <option value="D">D:@Resources.Locale.L_DNManage_Called</option>
                                <option value="R">R:@Resources.Locale.L_DNManage_Reserved</option>
                                <option value="C">C:@Resources.Locale.L_DNManage_Confirmed</option>
                                <option value="I">I:@Resources.Locale.L_UserQuery_In</option>
                                <option value="G">G:@Resources.Locale.L_DNManage_Gated</option>
                                <option value="P">P:@Resources.Locale.L_UserQuery_SealCnt</option>
                                <option value="O">O:@Resources.Locale.L_UserQuery_Out</option>
                                <option value="V">V:@Resources.Locale.L_BSCSDateQuery_Cancel</option>
                                <option value="E">E:@Resources.Locale.L_DNManage_TempOut</option>
                            </select>

                    	</div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="ShipmentId" class="control-label">@Resources.Locale.L_GateReserve_ShipmentId</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="ShipmentId" name="ShipmentId" fieldname="ShipmentId" isKey="true"  readonly />
                        </div>
                    	<div class="pure-u-sm-5-60 label-right">
                            <label for="ProductLine" class="control-label">@Resources.Locale.L_GateReserveSetup_ProLine</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="ProductLine" name="ProductLine" fieldname="ProductLine" readonly />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="WsCd" class="control-label">@Resources.Locale.L_GateReserve_WsCd</label>
                        </div>                        
                        <div class="pure-u-sm-6-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="WsCd" name="WsCd" fieldname="WsCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="WsCdLookup1" >
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-4-60 label-right">
                            <input type="text" class="form-control input-sm" dt="mt" id="MfNo" name="MfNo" fieldname="MfNo" readonly />
                        </div> 
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Dim" class="control-label">@Resources.Locale.L_GateReserveSetup_Dim</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Dim" name="Dim" fieldname="Dim" readonly />
                        </div>
                    </div>

                    <div class="pure-g">

                    	<div class="pure-u-sm-5-60">
                            <label for="Trucker" class="control-label">@Resources.Locale.L_GateReserve_Trucker</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Trucker" name="Trucker" fieldname="Trucker" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="TruckerLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="TruckerNm" name="TruckerNm" fieldname="TruckerNm" readonly />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="BatNo" class="control-label">@Resources.Locale.L_GateReserve_BatNo</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="BatNo" name="BatNo" fieldname="BatNo" readonly/>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PickDate" class="control-label">@Resources.Locale.L_DNManage_PickCntr</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="PickDate" name="PickDate" fieldname="PickDate" />
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="TruckNo" class="control-label">@Resources.Locale.L_GateReserve_TruckNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="TruckNo" name="TruckNo" fieldname="TruckNo" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="TruckNoLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Driver" class="control-label">@Resources.Locale.L_GateReserve_Driver</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Driver" name="Driver" fieldname="Driver"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="DriverLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="DriverId" class="control-label">@Resources.Locale.L_GateReserve_DriverId</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="DriverId" name="DriverId" fieldname="DriverId" ref="Driver" readonly="readonly" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Tel" class="control-label">@Resources.Locale.L_GateReserve_Tel</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Tel" name="Tel" fieldname="Tel" ref="Driver" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="LtruckNo" class="control-label">@Resources.Locale.L_GateReserve_LtruckNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="LtruckNo" name="LtruckNo" fieldname="LtruckNo" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="LtruckNoLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Ldriver" class="control-label">@Resources.Locale.L_GateReserve_Driver</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Ldriver" name="Ldriver" fieldname="Ldriver"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="LdriverLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="LdriverId" class="control-label">@Resources.Locale.L_GateReserve_DriverId</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="LdriverId" name="LdriverId" fieldname="LdriverId" ref="Ldriver" readonly="readonly"/>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Ltel" class="control-label">@Resources.Locale.L_GateReserve_Tel</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Ltel" name="Ltel" fieldname="Ltel" ref="Ldriver" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="ReserveDate" class="control-label required">@Resources.Locale.L_GateReserve_ReserveDate</label>
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="ReserveDate" name="ReserveDate" fieldname="ReserveDate" required/>
                        </div>
                        <div class="pure-u-sm-4-60">
                            <select class="form-control input-sm" dt="mt" id="ReserveFrom" name="ReserveFrom" fieldname="ReserveFrom" required>
                                <option value="0">00:00</option>
                                <option value="1">01:00</option>
                                <option value="2">02:00</option>
                                <option value="3">03:00</option>
                                <option value="4">04:00</option>
                                <option value="5">05:00</option>
                                <option value="6">06:00</option>
                                <option value="7">07:00</option>
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                            </select>
                        </div>

                        <!-- <div class="pure-u-sm-5-60 label-right">
                            <label for="ReserveTdate" class="control-label">到  </label>
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="ReserveTdate" name="ReserveTdate" fieldname="ReserveTdate" />
                        </div>
                        <div class="pure-u-sm-4-60">
                            <select class="form-control input-sm" dt="mt" id="ReserveTo" name="ReserveTo" fieldname="ReserveTo">
                                <option value="0">00:00</option>
                                <option value="1">01:00</option>
                                <option value="2">02:00</option>
                                <option value="3">03:00</option>
                                <option value="4">04:00</option>
                                <option value="5">05:00</option>
                                <option value="6">06:00</option>
                                <option value="7">07:00</option>
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                            </select>
                        </div> -->

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="ReserveHour" class="control-label required">@Resources.Locale.L_GateReserveSetup_ReserveHour</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="ReserveHour" name="ReserveHour" fieldname="ReserveHour" required>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="TruckCntrno" class="control-label">@Resources.Locale.L_GateReserve_TruckCntrno</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="TruckCntrno" name="TruckCntrno" fieldname="TruckCntrno" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="TruckSealno" class="control-label">@Resources.Locale.L_GateReserve_TruckSealno</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="TruckSealno" name="TruckSealno" fieldname="TruckSealno" />
                        </div>
                    </div>

                    <div class="pure-g">

                    	<div class="pure-u-sm-5-60">
                            <label for="GateNo" class="control-label">@Resources.Locale.L_GateReserve_GateNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <div class="input-group">
                            <input type="hidden" dt="mt" id="TempGateno" name="TempGateno" fieldname="TempGateno" />
                                <input type="text" class="form-control input-sm" dt="mt" id="GateNo" name="GateNo" fieldname="GateNo" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="GateNoLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="DnNo" class="control-label">@Resources.Locale.L_DNApproveManage_DnNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="DnNo" name="DnNo" fieldname="DnNo" readonly />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Remark" class="control-label">@Resources.Locale.L_GateReserveSetup_Msg</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Remark" name="Remark" fieldname="Remark" readonly />
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60 label-left">
                            <label for="MoveNumber" class="control-label">@Resources.Locale.L_GateAnalysis_TotalMoveNumber</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="MoveNumber" name="MoveNumber" fieldname="MoveNumber" readonly />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="NightMove" class="control-label">@Resources.Locale.L_ContainerManage_NightCount</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="NightMove" name="NightMove" fieldname="NightMove" readonly />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="TareWeight" class="control-label">Tare Weight</label>
                        </div>
                        <div class="pure-u-sm-5-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="TareWeight" name="TareWeight" fieldname="TareWeight" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Twu" name="Twu" fieldname="Twu" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="TwuLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Gw" class="control-label">@Resources.Locale.L_BaseLookup_Gw</label>
                        </div>
                        <div class="pure-u-sm-6-60 control-group">
                            <input type="number" class="form-control input-sm" id="SmGw" readonly="readonly" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-4-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="SmGwu" readonly="readonly" />
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        </div>
                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="CreateCmp" class="control-label">@Resources.Locale.L_IpPart_Cmp</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="CreateCmp" name="CreateCmp" fieldname="CreateCmp" readonly />
                        </div>
                        <div class="pure-u-sm-6-60 label-right">
                            <label for="CreateDep" class="control-label">@Resources.Locale.L_GateReserveSetup_CreateDep</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="CreateDep" name="CreateDep" fieldname="CreateDep" readonly />
                        </div>
                        <div class="pure-u-sm-4-60 label-right">
                            <label for="CreateExt" class="control-label">@Resources.Locale.L_GateReserveSetup_CreateExt</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="CreateExt" name="CreateExt" fieldname="CreateExt" readonly />
                        </div>


                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CreateBy" class="control-label">@Resources.Locale.L_GateReserveSetup_CreateBy</label>
                        </div>
                        <div class="pure-u-sm-7-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateBy" name="CreateBy" fieldname="CreateBy" readonly />
                        </div>
                        <div class="pure-u-sm-7-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateDate" name="CreateDate" fieldname="CreateDate" readonly />
                        </div>
                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="OrderBy" class="control-label">@Resources.Locale.L_GateReserve_ReserveBy</label>
                        </div>
                        <div class="pure-u-sm-7-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="OrderBy" name="OrderBy" fieldname="OrderBy" readonly />
                        </div>
                        <div class="pure-u-sm-7-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="OrderDate" name="OrderDate" fieldname="OrderDate" readonly />
                        </div>

                        <div class="pure-u-sm-11-60"></div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="ConfirmBy" class="control-label">@Resources.Locale.L_GateReserve_ConfirmBy</label>
                        </div>
                        <div class="pure-u-sm-7-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="ConfirmBy" name="ConfirmBy" fieldname="ConfirmBy" readonly />
                        </div>
                        <div class="pure-u-sm-7-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="ConfirmDate" name="ConfirmDate" fieldname="ConfirmDate" readonly />
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="SmcreateBy" class="control-label">@Resources.Locale.L_GateReserve_SmcreateBy</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="SmcreateBy" name="SmcreateBy" fieldname="SmcreateBy" readonly />
                        </div>
                        @*<div class="pure-u-sm-5-60 label-right">
                            <label for="Cbm" class="control-label">@Resources.Locale.L_DNManage_VmTCbm</label>
                        </div>
                        <div class="pure-u-sm-4-60">
                            <input type="text" class="form-control input-sm" id="SmCbm" readonly="readonly" />
                        </div>
                        <div class="pure-u-sm-4-60">
                            <input type="text" class="form-control input-sm" id="SmTcbm" readonly="readonly" />
                        </div>
                        <div class="pure-u-sm-2-60">
                            <input type="text" class="form-control input-sm" value="M3" readonly="readonly" />
                        </div>*@
                    </div>
                    <div class="pure-g">
                        <div class="pure-g">
                            <div class="pure-u-sm-60-60">
                                <table id="ScuftGrid" class="_tableGrid" style="width: 100%">
                                    <tr></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" dt="mt"  isKey="true" id="UId" name="UId" fieldname="UId" />
                    <input type="hidden"  id="RelationId" name="RelationId" value="@ViewBag.RelationId"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="RvTemplate" type="text/x-handlebars-template">
<tr>
    <td>1</td>
    <td class="upDownColor">G1</td>
    <td class="myColor"></td>
    <td class="myColor"></td>
    <td class="myColor"></td>
    <td class="myColor"></td>
    <td class="myColor"></td>
    <td class="myColor"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</script>
@Html.RazorJSInline("~/Scripts/GateManage/GateReserveSetup.js")