@{
    ViewBag.Title = "AirConfirmSetup";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/TKBL/initView.js?20240815")"></script>
@Html.RazorJSInline("~/Scripts/DnManage/AirConfirmSetup.js")
@Html.RazorJSInline("~/Scripts/DnManage/BaseBookingSetup.js")

<script type="text/javascript">
    var _uid = "@ViewBag.Uid";
    var schemas = "@ViewBag.schemas.Content";
</script>

<div id="wrapper">
    <div id="page-wrapper">
        <input type="hidden" id="UId" dt="mt" fieldname="UId" iskey="true" />
        <input type="hidden" id="DnNo" dt="mt" fieldname="DnNo" iskey="true" />
        <input type="hidden" id="Status" dt="mt" fieldname="Status" />
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-30-30">
                            <table id="SubGrid" class="_tableGrid" style="width: 100%">
                                <tr>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        	<div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="ShipmentId" class="control-label">@Resources.Locale.L_DNApproveManage_ShipmentId</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ShipmentId" name="ShipmentId" fieldname="ShipmentId" />
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="DnEtd" class="control-label">@Resources.Locale.L_BaseLookup_DnEtd</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="DnEtd" name="DnEtd" fieldname="DnEtd" />
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CombineInfo" class="control-label">@Resources.Locale.L_DNApproveManage_CombineInfo</label>
                        </div>
                        <div class="pure-u-sm-25-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="CombineInfo" name="CombineInfo" fieldname="CombineInfo"  />
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>                                 
              
                   <div class="pure-g">
                        <div class="pure-u-sm-15-60">
                            <label for="Marks" class="control-label">@Resources.Locale.L_FCLBooking_Marks</label>
                        </div>
                        <div class="pure-u-sm-15-60 ">
                            <label for="Goods" class="control-label">@Resources.Locale.L_BSTSetup_Commodity</label>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <label for="Lgoods" class="control-label">@Resources.Locale.L_BSTSetup_LCommodity</label>
                        </div>
                         <div class="pure-u-sm-15-60">
                            <label for="BlRmk" class="control-label">@Resources.Locale.L_BSTSetup_BlRmk</label>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="Marks" name="Marks" fieldname='Marks' rows="5"></textarea>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="Goods" name="Goods" fieldname='Goods' rows="5"></textarea>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="Lgoods" name="Lgoods" fieldname='Lgoods' rows="5"></textarea>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="BlRmk" name="BlRmk" fieldname='BlRmk' rows="5"></textarea>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="Instruction" class="control-label">@Resources.Locale.L_BaseLookup_Instruction</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control" dt="mt" id="Instruction" name="Instruction" fieldname='Instruction' rows="3"></textarea>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="BookingInfo" class="control-label">@Resources.Locale.L_BaseLookup_BookingInfo</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control" dt="mt" id="BookingInfo" name="BookingInfo" fieldname='BookingInfo' rows="3"></textarea>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="ProfileCd" class="control-label">Profile</label>
                        </div>
                       <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ProfileCd" name="ProfileCd" fieldname="ProfileCd" />
                            <p class="help-block tooltips"></p>
                        </div>
                         <div class="pure-u-sm-5-60 label-right">
                            <label for="PltNum" class="control-label">@Resources.Locale.L_BaseLookup_PltNum</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="PltNum" name="PltNum" fieldname="PltNum" />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CostCenter" class="control-label">@Resources.Locale.L_SMCHGSetup_ChgLevel</label>
                        </div>
                        <div class="pure-u-sm-5-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="CostCenter" name="CostCenter" fieldname="CostCenter"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="CostCenterLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>        
                            <p class="help-block tooltips"></p>                    
                        </div> 
                        <div class="pure-u-sm-5-60">
                            <input type="text" class="form-control input-sm" dt="mt" ref="TranType" id="CostCenterdescp" name="CostCenterdescp" fieldname="CostCenterdescp" readonly />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                			<label for="TransacteMode" class="control-label">@Resources.Locale.L_DNApproveManage_TSMode</label>
                		</div>
                		<div class="pure-u-sm-10-60">
                			<select class="form-control input-sm" dt="mt" id="TransacteMode" name="TransacteMode" fieldname="TransacteMode">
                				<option value=""></option>
                                <option value="A">@Resources.Locale.L_DNApproveManage_TSModeA</option>
                				<option value="B">@Resources.Locale.L_DNApproveManage_TSModeB</option>
                                <option value="C">@Resources.Locale.L_DNApproveManage_TSModeC</option>
                                <option value="O">@Resources.Locale.L_DNApproveManage_TSModeO</option>
                			</select>
                		</div>        
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="PpolCd" class="control-label">@Resources.Locale.L_AirBookingSetup_PpolCd</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PpolCd" name="PpolCd" fieldname="PpolCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PpolCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PpolName" fieldname="PpolName" name="PpolName"  />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="FrtTerm" class="control-label">@Resources.Locale.L_BSTSetup_FreightTerm</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="FrtTerm" name="FrtTerm" fieldname="FrtTerm">
                				<option value="P">P:Prepaid</option>
                				<option value="C">C:Collect</option>
                                <option value="O">O:Other</option>
                			</select>
                        </div>    
                        <div  class="pure-u-sm-5-60 label-right">
                            <label for="Gvalue" class="control-label">@Resources.Locale.L_BaseLookup_Gvalue</label>
                        </div>
                         <div class="pure-u-sm-4-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Cur" name="Cur" fieldname="Cur" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="CurLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="Gvalue" name="Gvalue" fieldname="Gvalue"  />
                        </div>
                    </div>
                    <div class="pure-g">
                       <div class="pure-u-sm-5-60">
                            <label for="PpodCd" class="control-label">@Resources.Locale.L_AirBookingSetup_PpodCd</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PpodCd" name="PpodCd" fieldname="PpodCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PpodCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PpodName" fieldname="PpodName" name="PpodName"  />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="BlType" class="control-label">BL Type</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="BlType" name="BlType" fieldname="BlType">
                                <option value=""></option>
                				<option value="M">M</option>
                				<option value="H">H</option>
                                <option value="D">D</option>
                                <option value="S">S</option>
                			</select>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
						    <label for="LoadingFrom" class="control-label">@Resources.Locale.L_DNApproveManage_ServiceMode</label>
						</div>
						<div class="pure-u-sm-4-60 control-group">
                            <select class="form-control input-sm" dt="mt" id="LoadingFrom" name="LoadingFrom" fieldname="LoadingFrom">
                			</select> 
						</div>
                        <div class="pure-u-sm-1-60 control-group">
						        <label > - </label>
						</div>
						<div class="pure-u-sm-5-60">
                            <select class="form-control input-sm" dt="mt" id="LoadingTo" name="LoadingTo" fieldname="LoadingTo">
                			</select> 
						</div> 
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="PdestCd" class="control-label">@Resources.Locale.L_AirBookingSetup_PdestCd</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PdestCd" name="PdestCd" fieldname="PdestCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PdestCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PdestName" fieldname="PdestName" name="PdestName"  />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Horn" class="control-label">@Resources.Locale.L_Horn</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="Horn" name="Horn" fieldname="Horn">
                                <option value=""></option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Battery" class="control-label">@Resources.Locale.L_Battery</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="Battery" name="Battery" fieldname="Battery">
                                <option value=""></option>
                                <option value="N">@Resources.Locale.L_ActManage_No</option>
                                <option value="Y">@Resources.Locale.L_BatteryL</option>
                                <option value="D">@Resources.Locale.L_BatteryD</option>
                            </select>
                        </div>
                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="PickupWms" class="control-label">@Resources.Locale.L_BaseLookup_PickupWms</label>
                        </div>                        
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PickupWms" name="PickupWms" fieldname="PickupWms"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PickupWmsLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>                            
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PickupWmsDate" class="control-label">@Resources.Locale.L_BaseLookup_PickupWmsDate</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="PickupWmsDate" name="PickupWmsDate" fieldname="PickupWmsDate" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="SalesWin" class="control-label">@Resources.Locale.L_BaseLookup_SalesWin</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="SalesWin" name="SalesWin" fieldname="SalesWin" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="BlWin" class="control-label">@Resources.Locale.L_BaseLookup_BlWin</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="BlWin" name="BlWin" fieldname="BlWin" />
                        </div>

                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="CntrDescp" class="control-label">@Resources.Locale.L_DNApproveManage_CntrDescp</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="CntrDescp" name="CntrDescp" fieldname="CntrDescp" />
                        </div>
                        
                         <div class="pure-u-sm-5-60 label-right">
                            <label for="ProductDate" class="control-label">@Resources.Locale.L_DNApproveManage_ProduceDate</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ProductDate" name="ProductDate" fieldname="ProductDate"/>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PkgNum" class="control-label">@Resources.Locale.L_BaseLookup_TotalPakage</label>
                        </div>
                        <div class="pure-u-sm-6-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="PkgNum" name="PkgNum" fieldname="PkgNum" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PkgUnit" name="PkgUnit" fieldname="PkgUnit"  />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PkgUnitLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-15-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="PkgUnitDesc" name="PkgUnitDesc" fieldname="PkgUnitDesc" />
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60 ">
                            <label for="IncotermCd" class="control-label">@Resources.Locale.L_DNApproveManage_Incoterm</label>
                        </div>                        
                        <div class="pure-u-sm-4-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="IncotermCd" name="IncotermCd" fieldname="IncotermCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="IncotermCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>    
                            <p class="help-block tooltips"></p>                        
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="IncotermDescp" fieldname="IncotermDescp" name="IncotermDescp"  />
                            <p class="help-block tooltips"></p>
                        </div> 
                        <div class="pure-u-sm-5-60 label-right">
						    <label for="TradeTerm" class="control-label">@Resources.Locale.L_DNApproveManage_DlvTerm</label>
						</div>
						<div class="pure-u-sm-4-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="TradeTerm" name="TradeTerm" fieldname="TradeTerm"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="TradeTermLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>    
						</div>
						<div class="pure-u-sm-6-60">
						    <input type="text" class="form-control input-sm" dt="mt" id="TradetermDescp" name="TradetermDescp" fieldname="TradetermDescp" />
						</div>    
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Pkg" class="control-label">@Resources.Locale.L_ForecastQueryData_Qty</label>
                        </div>
                        <div class="pure-u-sm-6-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="Qty" fieldname="Qty" name="Qty"/>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-4-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Qtyu" name="Qtyu" fieldname="Qtyu"  />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="QtyuLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                          <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Pvw" class="control-label">@Resources.Locale.L_BSTSetup_Book VW</label>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <input type="number" class="form-control input-sm" dt="mt" id="Pvw" name="Pvw" fieldname="Pvw"/>
                            <p class="help-block tooltips"></p>
                        </div>
                             
                        <div class="pure-u-sm-2-60 label-right"> 
                            <label for="Vw" class="control-label">VW</label>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <input type="number" class="form-control input-sm" dt="mt" id="Vw" name="Vw" fieldname="Vw"/>
                            <p class="help-block tooltips"></p>
                        </div>    
                    </div>

                    <div class="pure-g">
                         <div class="pure-u-sm-5-60">
                            <label for="PaytermCd" class="control-label">@Resources.Locale.L_DNManage_PayLoc</label>
                        </div>       
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PaytermCd" name="PaytermCd" fieldname="PaytermCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PaytermCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>        
                            <p class="help-block tooltips"></p>                    
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PaytermNm" fieldname="PaytermNm" name="PaytermNm" />
                        </div>
                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Pgw" class="control-label">@Resources.Locale.L_BaseLookup_Pgw</label>
                        </div>
                        <div class="pure-u-sm-6-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="Pgw" fieldname="Pgw" name="Pgw" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-4-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Gwu" name="Gwu" fieldname="Gwu" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="GwuLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Pcbm" class="control-label">@Resources.Locale.L_BaseLookup_Pcbm</label>
                        </div>
                        <div class="pure-u-sm-6-60">
						    <input type="text" class="form-control input-sm" dt="mt" id="Pcbm" name="Pcbm" fieldname="Pcbm"  />
						</div>
						<div class="pure-u-sm-4-60">
						    <input type="text" class="form-control input-sm" value="M3"  readonly="readonly" />
						</div> 

                       
                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="MasterNo" class="control-label">@Resources.Locale.L_BaseLookup_MasterNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="MasterNo" name="MasterNo" fieldname="MasterNo" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="HouseNo" class="control-label">@Resources.Locale.L_BaseLookup_HouseNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="HouseNo" name="HouseNo" fieldname="HouseNo" />
                        </div>
                             
                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Cw" class="control-label">@Resources.Locale.L_ActSetup_Cw</label>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <input type="number" class="form-control input-sm" dt="mt" id="Cw" name="Cw" fieldname="Cw"/>
                            <p class="help-block tooltips"></p>
                        </div>
                             
                        <div class="pure-u-sm-2-60 label-right"> 
                            <label for="Gw" class="control-label">@Resources.Locale.L_BaseLookup_Gw</label>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <input type="number" class="form-control input-sm" dt="mt" id="Gw" name="Gw" fieldname="Gw"/>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Cbm" class="control-label">@Resources.Locale.L_DNApproveManage_Cbm</label>
                        </div>
                        <div class="pure-u-sm-6-60">
						    <input type="text" class="form-control input-sm" dt="mt" id="Cbm" name="Cbm" fieldname="Cbm"  />
						</div>
						<div class="pure-u-sm-4-60">
						    <input type="text" class="form-control input-sm" value="M3"  readonly="readonly" />
						</div>  
                          
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="Vessel1" class="control-label">@Resources.Locale.L_DNManage_FlightNo 1</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="Vessel1" fieldname="Vessel1" name="Vessel1"  />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Etd" class="control-label">ETD</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Etd" name="Etd" fieldname="Etd" />
                            <p class="help-block tooltips"></p>
                        </div>  
                       
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PortDate" class="control-label">@Resources.Locale.L_BaseLookup_PortDate</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="PortDate" name="PortDate" fieldname="PortDate" />
                            <p class="help-block tooltips"></p>
                        </div>
                         <div class="pure-u-sm-5-60 label-right">
                            <label for="CutBlDate" class="control-label">@Resources.Locale.L_BaseLookup_CutBlDate</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="CutBlDate" name="CutBlDate" fieldname="CutBlDate" />
                            <p class="help-block tooltips"></p>
                        </div>            
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="Vessel2" class="control-label">@Resources.Locale.L_DNManage_FlightNo 2</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="Vessel2" fieldname="Vessel2" name="Vessel2"  />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Eta" class="control-label">ETA</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Eta" name="Eta" fieldname="Eta" />
                            <p class="help-block tooltips"></p>
                        </div> 
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PolCd" class="control-label">@Resources.Locale.L_AirBookingSetup_PolCd</label>
                        </div>                        
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PolCd" name="PolCd" fieldname="PolCd"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PolCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>                            
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PolName" fieldname="PolName" name="PolName"  />
                        </div>
                    </div>

                    <div class="pure-g">
                       <div class="pure-u-sm-5-60">
                            <label for="Vessel3" class="control-label">@Resources.Locale.L_DNManage_FlightNo 3</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="Vessel3" fieldname="Vessel3" name="Vessel3"  />
                        </div>
                         <div class="pure-u-sm-5-60 label-right">
                            <label for="Atd" class="control-label">@Resources.Locale.L_BaseLookup_Atd</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Atd" name="Atd" fieldname="Atd" />
                        </div> 
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PodCd" class="control-label">@Resources.Locale.L_AirBookingSetup_PodCd</label>
                        </div>                        
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PodCd" name="PodCd" fieldname="PodCd"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PodCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>                            
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PodName" fieldname="PodName" name="PodName"  />
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="Vessel4" class="control-label">@Resources.Locale.L_DNManage_FlightNo 4</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="Vessel4" fieldname="Vessel4" name="Vessel4"  />
                        </div>
                         <div class="pure-u-sm-5-60 label-right">
                            <label for="Atd" class="control-label">@Resources.Locale.L_BaseLookup_Ata</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Ata" name="Ata" fieldname="Ata" />
                        </div> 
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="DestCd" class="control-label">@Resources.Locale.L_AirBookingSetup_DestCd</label>
                        </div>                        
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="DestCd" name="DestCd" fieldname="DestCd"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="DestCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>                            
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="DestName" fieldname="DestName" name="DestName"  />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Locale.L_DNManage_DeclaInfo</div>
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="OExporter" class="control-label">@Resources.Locale.L_BaseLookup_Oexporter</label>
                        </div>
                        <div class="pure-u-sm-8-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Oexporter" name="Oexporter" fieldname="Oexporter"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="OexporterLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="pure-u-sm-17-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OexporterNm" name="OexporterNm" fieldname="OexporterNm" />
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="OExporterAddr" class="control-label">@Resources.Locale.L_BaseLookup_OexporterAddr</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OexporterAddr" name="OexporterAddr" fieldname="OexporterAddr"/>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="OImporter" class="control-label">@Resources.Locale.L_BaseLookup_Oimporter</label>
                        </div>
                        <div class="pure-u-sm-8-60">
                             <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Oimporter" name="Oimporter" fieldname="Oimporter"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="OimporterLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-17-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OimporterNm" name="OimporterNm" fieldname="OimporterNm" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="OimporterAddr" class="control-label">@Resources.Locale.L_BaseLookup_OimporterAddr</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OimporterAddr" name="OimporterAddr" fieldname="OimporterAddr"/>
                        </div>
                    </div>


                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="BrokerInstr" class="control-label">@Resources.Locale.L_BaseLookup_BrokerInstr</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control lastInput" dt="mt" id="BrokerInstr" name="BrokerInstr" fieldname='BrokerInstr'></textarea>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="BrokerInfo" class="control-label">@Resources.Locale.L_BaseLookup_BrokerInfo</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control lastInput" dt="mt" id="BrokerInfo" name="BrokerInfo" fieldname='BrokerInfo'></textarea>
                        </div>
                    </div>

                   <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="DeclNum" class="control-label">@Resources.Locale.L_DECL_NUM</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="DeclNum" name="DeclNum" fieldname="DeclNum" />
                        </div> 

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="NextNum" class="control-label">@Resources.Locale.L_NEXT_NUM</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="NextNum" name="NextNum" fieldname="NextNum" />
                        </div> 
                   </div>
                </div>
            </div>    
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-30-30">
                            <table id="SubGrid2" class="_tableGrid" style="width: 100%">
                                <tr>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
