@{
    ViewBag.Title = "DTBookingConfirmSetup";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/TKBL/initView.js?20240815")"></script>
@Html.RazorJSInline("~/Scripts/DnManage/DTBookingConfirmSetup.js")
@Html.RazorJSInline("~/Scripts/DnManage/BaseBookingSetup.js")

<script type="text/javascript">
    var _uid = "@ViewBag.Uid";
    var schemas = "@ViewBag.schemas.Content";
</script>
<div id="wrapper">
    <div id="page-wrapper">
        <input type="hidden" id="UId" dt="mt" fieldname="UId" iskey="true" />
        <input type="hidden" id="DnNo" dt="mt" fieldname="DnNo" iskey="true" />
        <input type="hidden" id="Status" dt="mt" fieldname="Status" />
        <input type="hidden" id="BlType" dt="mt" fieldname="BlType" />
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-30-30">
                            <table id="SubGrid" class="_tableGrid" style="width: 100%">
                                <tr>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        	<div class="panel panel-default">
                <div class="panel-body" id="panelbody">
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="ShipmentId" class="control-label">@Resources.Locale.L_DNApproveManage_ShipmentId</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ShipmentId" name="ShipmentId" fieldname="ShipmentId" readonly/>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="DnEtd" class="control-label">@Resources.Locale.L_BaseLookup_DnEtd</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="DnEtd" name="DnEtd" fieldname="DnEtd"/>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CombineInfo" class="control-label">@Resources.Locale.L_DNApproveManage_CombineInfo</label>
                        </div>
                        <div class="pure-u-sm-25-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="CombineInfo" name="CombineInfo" fieldname="CombineInfo" readonly />
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>                 

                    <div class="pure-g">
                        <div class="pure-u-sm-15-60">
                            <label for="Marks" class="control-label">@Resources.Locale.L_FCLBooking_Marks</label>
                        </div>
                        <div class="pure-u-sm-15-60 ">
                            <label for="Goods" class="control-label">@Resources.Locale.L_BSTSetup_Commodity</label>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <label for="Lgoods" class="control-label">@Resources.Locale.L_BSTSetup_LCommodity</label>
                        </div>
                         <div class="pure-u-sm-15-60">
                            <label for="BlRmk" class="control-label">@Resources.Locale.L_BSTSetup_BlRmk</label>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="Marks" name="Marks" fieldname='Marks' rows="5"></textarea>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="Goods" name="Goods" fieldname='Goods' rows="5"></textarea>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="Lgoods" name="Lgoods" fieldname='Lgoods' rows="5"></textarea>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <textarea class="form-control" dt="mt" id="BlRmk" name="BlRmk" fieldname='BlRmk' rows="5"></textarea>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="Instruction" class="control-label">@Resources.Locale.L_BaseLookup_Instruction</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control" dt="mt" id="Instruction" name="Instruction" fieldname='Instruction' rows="3"></textarea>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="BookingInfo" class="control-label">@Resources.Locale.L_BaseLookup_BookingInfo</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control" dt="mt" id="BookingInfo" name="BookingInfo" fieldname='BookingInfo' rows="3"></textarea>
                        </div>
                    </div>

                    <div class="pure-g">                
                        <div class="pure-u-sm-5-60">
                            <label for="TrackWay" class="control-label">@Resources.Locale.L_DNApproveManage_TrackWay</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="TrackWay" name="TrackWay" fieldname="TrackWay">
                            </select>
                        </div> 

                    	<div class="pure-u-sm-5-60 label-right">
                    	    <label for="CargoType" class="control-label">@Resources.Locale.L_DNApproveManage_CargoType</label>
                    	</div>
                    	<div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="CargoType" name="CargoType" fieldname="CargoType">
                            </select>
                    	</div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CostCenter" class="control-label">@Resources.Locale.L_SMCHGSetup_ChgLevel</label>
                        </div>
                        <div class="pure-u-sm-5-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="CostCenter" name="CostCenter" fieldname="CostCenter"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="CostCenterLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>        
                            <p class="help-block tooltips"></p>                    
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" class="form-control input-sm" dt="mt" ref="TranType" id="CostCenterdescp" name="CostCenterdescp" fieldname="CostCenterdescp" readonly />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="DeepProcess" class="control-label">@Resources.Locale.L_DNApproveManage_DeepProcess</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="DeepProcess" name="DeepProcess" fieldname="DeepProcess">
                                <option value="N">N</option>
                                <option value="Y">Y</option>
                            </select>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="ProductDate" class="control-label">@Resources.Locale.L_DNApproveManage_ProduceDate</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ProductDate" name="ProductDate" fieldname="ProductDate"/>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="PltNo" class="control-label">@Resources.Locale.L_BaseLookup_PltNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="PltNo" name="PltNo" fieldname="PltNo" />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                			<label for="TransacteMode" class="control-label">@Resources.Locale.L_DNApproveManage_TSMode</label>
                		</div>
                		<div class="pure-u-sm-10-60">
                			<select class="form-control input-sm" dt="mt" id="TransacteMode" name="TransacteMode" fieldname="TransacteMode">
                				<option value=""></option>
                                <option value="A">@Resources.Locale.L_DNApproveManage_TSModeA</option>
                				<option value="B">@Resources.Locale.L_DNApproveManage_TSModeB</option>
                                <option value="C">@Resources.Locale.L_DNApproveManage_TSModeC</option>
                                <option value="O">@Resources.Locale.L_DNApproveManage_TSModeO</option>
                			</select>
                		</div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="FrtTerm" class="control-label">@Resources.Locale.L_BSTSetup_FreightTerm</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="FrtTerm" name="FrtTerm" fieldname="FrtTerm">
                				<option value="P">P:Prepaid</option>
                				<option value="C">C:Collect</option>
                                <option value="O">O:Other</option>
                			</select>
                        </div>  
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60 ">
                    	    <label for="CarType" class="control-label">@Resources.Locale.L_BaseLookup_CarAndNum</label>
                    	</div>
                    	<div class="pure-u-sm-6-60">
                            <select class="form-control input-sm" dt="mt" id="CarType" name="CarType" fieldname="CarType">
                            </select>
                    	</div>
                    	<div class="pure-u-sm-4-60">
                            <input type="number" class="form-control input-sm" dt="mt" id="CarQty" name="CarQty" fieldname="CarQty" number />
                            <p class="help-block tooltips"></p>
                    	</div>

                        <div class="pure-u-sm-5-60 label-right">
                    	    <label for="CarType1" class="control-label">@Resources.Locale.L_BaseLookup_CarAndNum 1</label>
                    	</div>
                    	<div class="pure-u-sm-6-60">
                            <select class="form-control input-sm" dt="mt" id="CarType1" name="CarType1" fieldname="CarType1">
                            </select>
                    	</div>
                        <div class="pure-u-sm-4-60">
                            <input type="number" class="form-control input-sm" dt="mt" id="CarQty1" name="CarQty1" fieldname="CarQty1" number />
                            <p class="help-block tooltips"></p>
                    	</div>

                         <div class="pure-u-sm-5-60 label-right">
                    	    <label for="CarType2" class="control-label">@Resources.Locale.L_BaseLookup_CarAndNum 2</label>
                    	</div>
                    	<div class="pure-u-sm-6-60">
                            <select class="form-control input-sm" dt="mt" id="CarType2" name="CarType2" fieldname="CarType2">
                            </select>
                    	</div>
                    	<div class="pure-u-sm-4-60">
                            <input type="number" class="form-control input-sm" dt="mt" id="CarQty2" name="CarQty2" fieldname="CarQty2" number />
                            <p class="help-block tooltips"></p>
                    	</div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Qty" class="control-label">@Resources.Locale.L_ForecastQueryData_Qty</label>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="Qty" fieldname="Qty" name="Qty" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-6-60 ">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Qtyu" fieldname="Qtyu" name="Qtyu" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="QtyuLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>   
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60 ">
                            <label for="State" class="control-label">@Resources.Locale.L_BaseLookup_State</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="State" name="State" fieldname="State" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="StateLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                    	<div class="pure-u-sm-5-60 label-right">
                    	    <label for="Region" class="control-label">@Resources.Locale.L_BaseLookup_Region</label>
                    	</div>
                    	<div class="pure-u-sm-10-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Region" name="Region" fieldname="Region" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="RegionLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                    	</div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PayTermCd" class="control-label">@Resources.Locale.L_DNApproveManage_PayTermCd</label>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="IncotermCd" name="IncotermCd" fieldname="IncotermCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="IncotermCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>                            
                            <p class="help-block tooltips"></p>                        
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="IncotermDescp" fieldname="IncotermDescp" name="IncotermDescp" />
                            <p class="help-block tooltips"></p>
                        </div>  
                        <div class="pure-u-sm-5-60 label-right">
						    <label for="TradeTerm" class="control-label">@Resources.Locale.L_DNApproveManage_DlvTerm</label>
						</div>
						<div class="pure-u-sm-4-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="TradeTerm" name="TradeTerm" fieldname="TradeTerm"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="TradeTermLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>    
						</div>
						<div class="pure-u-sm-6-60">
						    <input type="text" class="form-control input-sm" dt="mt" id="TradetermDescp" name="TradetermDescp" fieldname="TradetermDescp" />
						</div>       
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="PkgNum" class="control-label">Total Pakage</label>
                        </div>
                        <div class="pure-u-sm-6-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="PkgNum" name="PkgNum" fieldname="PkgNum" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PkgUnit" name="PkgUnit" fieldname="PkgUnit"  />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PkgUnitLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-15-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="PkgUnitDesc" name="PkgUnitDesc" fieldname="PkgUnitDesc" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="PpolCd" class="control-label">@Resources.Locale.L_BaseLookup_PickupPort</label>
                        </div>                        
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PpolCd" name="PpolCd" fieldname="PpolCd"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PpolCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>                            
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PpolName" fieldname="PpolName" name="PpolName"  />
                        </div>
                    </div>

                    <div class="pure-g">           
                        <div class="pure-u-sm-5-60"> 
                            <label for="Pgw" class="control-label">@Resources.Locale.L_BSTSetup_Book @Resources.Locale.L_DNApproveManage_Gw</label>
                        </div>
                        <div class="pure-u-sm-5-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="Pgw" fieldname="Pgw" name="Pgw" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Gwu" fieldname="Gwu" name="Gwu" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="GwuLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Pcbm" class="control-label">@Resources.Locale.L_BSTSetup_Book @Resources.Locale.L_DNApproveManage_Cbm</label>
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Pcbm" name="Pcbm" fieldname="Pcbm" />
                        </div>
                        <div class="pure-u-sm-4-60">
						    <input type="text" class="form-control input-sm" value="M3"  readonly="readonly" />
						</div>
                    	<div class="pure-u-sm-5-60 label-right">
                            <label for="PdestCd" class="control-label">@Resources.Locale.L_BaseLookup_DeliveryPort</label>
                        </div>                        
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PdestCd" name="PdestCd" fieldname="PdestCd"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PdestCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>                            
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PdestName" fieldname="PdestName" name="PdestName"/>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60 "> 
                            <label for="Gw" class="control-label">@Resources.Locale.L_BaseLookup_Gw</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="number" class="form-control input-sm" dt="mt" id="Gw" name="Gw" fieldname="Gw"/>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Cbm" class="control-label">@Resources.Locale.L_DNApproveManage_Cbm</label>
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Cbm" name="Cbm" fieldname="Cbm" />
                        </div> 
                         <div class="pure-u-sm-4-60">
						    <input type="text" class="form-control input-sm" value="M3"  readonly="readonly" />
						</div>
                        <div class="pure-u-sm-5-60 label-right">
                			<label for="BandCd" class="control-label">@Resources.Locale.L_DNApproveManage_BandType</label>
                		</div>
                		<div class="pure-u-sm-10-60">
                			<div class="input-group">
						        <input type="text" class="form-control input-sm" dt="mt" id="BandCd" name="BandCd" fieldname="BandCd" />
						        <span class="input-group-btn">
						            <button class="btn btn-sm btn-default" type="button" id="BandCdLookup">
						                <span class="glyphicon glyphicon-search"></span>
						            </button>
						        </span>
						    </div>
						    <p class="help-block tooltips"></p>
                		</div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" ref="Pod" dt="mt" id="BandDescp" name="BandDescp" fieldname="BandDescp" readonly />
						</div>
                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60"> 
                            <label for="HouseNo" class="control-label">@Resources.Locale.L_DTBookingSetup_HouseNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="HouseNo" name="HouseNo" fieldname="HouseNo" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="TruckNo" class="control-label">@Resources.Locale.L_GateReserve_TruckNo</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="TruckNo" name="TruckNo" fieldname="TruckNo" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Driver" class="control-label">@Resources.Locale.L_GateReserve_Driver</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Driver" name="Driver" fieldname="Driver" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="DriverTel" class="control-label">@Resources.Locale.L_BSCSSetup_CmpTel</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="DriverTel" name="DriverTel" fieldname="DriverTel" />
                        </div>
                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="Etd" class="control-label">@Resources.Locale.L_AirTransport_Etd</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Etd" name="Etd" fieldname="Etd" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Eta" class="control-label">@Resources.Locale.L_AirTransport_Eta</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Eta" name="Eta" fieldname="Eta" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Atd" class="control-label">@Resources.Locale.L_BaseLookup_Atd</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Atd" name="Atd" fieldname="Atd" />
                        </div> 

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Ata" class="control-label">@Resources.Locale.L_BaseLookup_Ata</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Ata" name="Ata" fieldname="Ata" />
                        </div>
                    </div>

                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60"> 
                            <label for="Ett" class="control-label">@Resources.Locale.L_BaseLookup_Ett</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Ett" name="Ett" fieldname="Ett"/>
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Att" class="control-label">@Resources.Locale.L_BaseLookup_Att</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Att" name="Att" fieldname="Att" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Dtt" class="control-label">@Resources.Locale.L_BaseLookup_Dtt</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Dtt" name="Dtt" fieldname="Dtt" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Aqty" class="control-label">@Resources.Locale.L_BaseLookup_Aqty</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Aqty" name="Aqty" fieldname="Aqty" />
                        </div>
                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Fqty" class="control-label">@Resources.Locale.L_BaseLookup_Fqty</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Fqty" name="Fqty" fieldname="Fqty" />
                        </div>
                        @*<div class="pure-u-sm-5-60 label-right"> 
                            <label for="Dqty" class="control-label">@Resources.Locale.L_BaseLookup_Dqty</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Dqty" name="" fieldname="Dqty" />
                        </div>*@
                    </div>

                    <div class="pure-g">
                       <div class="pure-u-sm-5-60">
                            <label for="ProfileCd" class="control-label">Profile</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ProfileCd" name="ProfileCd" fieldname="ProfileCd" readonly />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Separate" class="control-label">@Resources.Locale.L_DNFlowManage_DnNoCmpRef</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="DnNoRef" name="DnNoRef" fieldname="DnNoRef" readonly />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Separate" class="control-label">@Resources.Locale.L_BaseLookup_Separate</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <select class="form-control input-sm" dt="mt" id="Separate" name="Separate" fieldname="Separate">
                                <option value="N">N</option>
                                <option value="Y">Y</option>
                            </select>
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Fdqty" class="control-label">@Resources.Locale.L_BaseLookup_Fdqty</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Fdqty" name="Fdqty" fieldname="Fdqty" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right"> 
                            <label for="Ndqty" class="control-label">@Resources.Locale.L_BaseLookup_Ndqty</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Ndqty" name="Ndqty" fieldname="Ndqty" />
                        </div>
                    </div>


                    <div class="pure-g">
                    	<div class="pure-u-sm-5-60">
                            <label for="Cmp" class="control-label">@Resources.Locale.L_IpPart_Cmp</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="Cmp" name="Cmp" fieldname="Cmp" />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CreateDep" class="control-label">@Resources.Locale.L_GateReserveSetup_CreateDep</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="CreateDep" name="CreateDep" fieldname="CreateDep" />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CreateExt" class="control-label">@Resources.Locale.L_GateReserveSetup_CreateExt</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="CreateExt" name="CreateExt" fieldname="CreateExt" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CreateBy" class="control-label">@Resources.Locale.L_DNApproveManage_CreateBy</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateBy" name="CreateBy" fieldname="CreateBy"  />
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateDate" name="CreateDate" fieldname="CreateDate" readonly/>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="ModifyBy" class="control-label">@Resources.Locale.L_DNApproveManage_ModifyBy</label>
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="ModifyBy" name="ModifyBy" fieldname="ModifyBy" />
                        </div>
                        <div class="pure-u-sm-5-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="ModifyDate" name="ModifyDate" fieldname="ModifyDate" readonly >
                        </div>
                    </div>         
                </div>
            </div>  
            <div class="panel panel-default" id="SMDNPGRID">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-30-30">
                            <table id="SubGrid2" class="_tableGrid" style="width: 100%">
                                <tr>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="SMBDDGRID">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-30-30">
                            <table id="subbddGrid" class="_tableGrid" style="width: 100%">
                                <tr>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Locale.L_DNManage_DeclaInfo</div>
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="OExporter" class="control-label">@Resources.Locale.L_BaseLookup_Oexporter</label>
                        </div>
                        <div class="pure-u-sm-8-60">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Oexporter" name="Oexporter" fieldname="Oexporter"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="OexporterLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="pure-u-sm-17-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OexporterNm" name="OexporterNm" fieldname="OexporterNm" />
                            <p class="help-block tooltips"></p>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="OExporterAddr" class="control-label">@Resources.Locale.L_BaseLookup_OexporterAddr</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OexporterAddr" name="OexporterAddr" fieldname="OexporterAddr"/>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="OImporter" class="control-label">@Resources.Locale.L_BaseLookup_Oimporter</label>
                        </div>
                        <div class="pure-u-sm-8-60">
                             <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Oimporter" name="Oimporter" fieldname="Oimporter"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="OimporterLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-17-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OimporterNm" name="OimporterNm" fieldname="OimporterNm" />
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="OimporterAddr" class="control-label">@Resources.Locale.L_BaseLookup_OimporterAddr</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="OimporterAddr" name="OimporterAddr" fieldname="OimporterAddr"/>
                        </div>
                    </div>


                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="BrokerInstr" class="control-label">@Resources.Locale.L_BaseLookup_BrokerInstr</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control lastInput" dt="mt" id="BrokerInstr" name="BrokerInstr" fieldname='BrokerInstr'></textarea>
                        </div>

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="BrokerInfo" class="control-label">@Resources.Locale.L_BaseLookup_BrokerInfo</label>
                        </div>
                        <div class="pure-u-sm-25-60">
                            <textarea class="form-control lastInput" dt="mt" id="BrokerInfo" name="BrokerInfo" fieldname='BrokerInfo'></textarea>
                        </div>
                    </div>

                   <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="DeclNum" class="control-label">@Resources.Locale.L_DECL_NUM</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="DeclNum" name="DeclNum" fieldname="DeclNum" />
                        </div> 

                        <div class="pure-u-sm-5-60 label-right">
                            <label for="NextNum" class="control-label">@Resources.Locale.L_NEXT_NUM</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" dt="mt" class="form-control input-sm" id="NextNum" name="NextNum" fieldname="NextNum" />
                        </div> 
                   </div>
                </div>
            </div>  
        </div>
    </div>
</div>

