@{
ViewBag.Title = "BSLCPOLSetupView";
}
<script type="text/javascript">
    var _uid = "@ViewBag.UId";
    var Schemas = "@ViewBag.Schemas.Content";
</script>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="Cmp" class="control-label">Location</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Cmp" name="Cmp" fieldname="Cmp" />
                                <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button" id="CmpLookup">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Pol" class="control-label">@Resources.Locale.L_BSLCPOL_Pol</label>
                        </div>
                         <div class="pure-u-sm-5-60 control-group">
                            <select class="form-control input-sm"  id="Io">
                                <option value="O">@Resources.Locale.L_DNManage_ExtTrade</option>
                                <option value="I">@Resources.Locale.L_DNManage_Domestic</option>
                            </select>
                         </div>
                         <div class="pure-u-sm-10-60 control-group">
                             <div class="input-group">
                                 <input type="text" class="form-control input-sm" id="Pol1"  />
                                 <input type="text" class="form-control input-sm" id="Pol2" style="display: none"/>
                                 <input type="hidden" class="form-control input-sm" dt="mt" id="Pol" name="Pol" fieldname="Pol" />
                                 <span class="input-group-btn">
                                 <button class="btn btn-sm btn-default oo" type="button" id="PolLookup">
                                     <span class="glyphicon glyphicon-search"></span>
                                 </button>
                                 <button class="btn btn-sm btn-default ii" type="button" id="oPolLookup" style="display: none">
                                     <span class="glyphicon glyphicon-search"></span>
                                 </button>
                                 </span>
                             </div>
                             <p class="help-block tooltips"></p>
                         </div>
                         <div class="pure-u-sm-15-60">
                             <input type="text" class="form-control input-sm" dt="mt" id="PolDescp" name="PolDescp" fieldname="PolDescp" readonly />
                         </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" dt="mt" id="UId" name="UId" fieldname="UId" />
@Html.RazorJSInline("~/Scripts/BSLCPOL/BSLCPOLSetup.js")
