@{
    ViewBag.Title = "QASetupView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var _uid = "@ViewBag.Uid";
    var schemas = "@ViewBag.schemas.Content";
    var EdocUrl = "@ViewBag.EdocUrl";
</script>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/lib/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/lib/moment.js")"></script>*@
<script src="~/Scripts/lib/utf8-net/ueditor.config.js"></script>
<script src="~/Scripts/lib/utf8-net/ueditor.all.js"></script>
<script src="~/Scripts/lib/utf8-net/lang/zh-cn/zh-cn.js"></script>
<style>
    body{background-color: #eaeaea;}
    #wrapper {margin-top: 30px;}
    #page-wrapper {padding: 5px;}
    .row{margin-left: 0px; margin-right: 0px;}
</style>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
						<div class="pure-g">
							<div class="pure-u-sm-5-60">
								<label for="QaType" class="control-label">@Resources.Locale.L_AddBulletin_BullType</label>
							</div>
                            <div class="pure-u-sm-10-60">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" dt="mt" id="QaType" name="QaType" fieldname="QaType" readonly="readonly" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default" type="button" id="QaTypeLookup">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                                <p class="help-block tooltips"></p>
                            </div>
							<div class="pure-u-sm-5-60 label-right">
								<label for="QtTitle" class="control-label">@Resources.Locale.L_BookingActiontController_Problem</label>
							</div>
							<div class="pure-u-sm-25-60 control-group">
								<input type="text" class="form-control input-sm" dt="mt" id="QaTitle" name="QaTitle" fieldname="QaTitle" />
							    <p class="help-block tooltips"></p>
							</div>
						</div>
                        <div class="row" style="height:500PX;">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="QaAnswer"></label>
                                    <textarea id="QaAnswer" dt="mt" name="QaAnswer" fieldname="QaAnswer" style="height:500px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="rootPath" type="hidden" value="@Url.Content("~")" />
<input type="hidden" dt="mt"  isKey="true" id="UId" name="UId" fieldname="UId" />
<input type="hidden" dt="mt" iskey="true" id="CreateDate" name="CreateDate" fieldname="CreateDate" />
<script type="text/javascript">
    $('#datetimepicker1').datetimepicker({
        format: 'YYYYMMDD'
    });

    var ue = UE.getEditor('QaAnswer', {
        toolbars: [
            ['fullscreen', 'source', '|', 'undo', 'redo', '|',
        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
        'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
        'directionalityltr', 'directionalityrtl', 'indent', '|',
        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
        'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertframe', 'insertcode', 'pagebreak', 'template', 'background', '|',
        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
        , 'searchreplace', 'help', 'drafts']
        ],
        allHtmlEnabled: false,//提交到后台的数据是否包含整个html字符串
        autoHeightEnabled: false,
        autoFloatEnabled: true,
        allowDivTransToP: false,//阻止div标签自动转换为p标签
        //readonly:true//界面不可编辑
    });

</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TKBL/initView.js?20240815")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/QA/QASetup.js?20240815")"></script>
