@{
    ViewBag.Title = "ExpressAddSetup";
}
<script type="text/javascript">
	var _uid = "@ViewBag.Uid";
	var schemas = "@ViewBag.schemas.Content";
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/TKBL/initView.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/IQTManage/ExpressAddSetup.js?20231213")"></script>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="LspCd" class="control-label">@Resources.Locale.L_AirSetup_LspCd</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="LspCd" name="LspCd" fieldname="LspCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="LspCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="LspNm" fieldname="LspNm" name="LspNm" readonly/>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Io" class="control-label">@Resources.Locale.L_SMCHGSetup_IoType</label>
                        </div>
                        <div class="pure-u-sm-10-60">
                            <select class="form-control input-sm" dt="mt" id="Io" name="Io" fieldname="Io">
                                <option value="O">O:OutBound</option>
                                <option value="I">I:InBound</option>

                            </select>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Region" class="control-label">Region</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="Region" name="Region" fieldname="Region" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="RegionLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block tooltips"></p>
                        </div> 
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="PolCd" class="control-label">POL</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="PolCd" name="PolCd" fieldname="PolCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="PolCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="PolName" fieldname="PolName" name="PolName" readonly/>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="EffectDate" class="control-label">@Resources.Locale.L_RQQuery_EffectFrom</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="EffectDate" name="EffectDate" fieldname="EffectDate" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="ExpiratDate" class="control-label">@Resources.Locale.L_RQQuery_EffectTo</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ExpiratDate" name="ExpiratDate" fieldname="ExpiratDate" />
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="CntryCd" class="control-label">Country Code</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" dt="mt" id="CntryCd" name="CntryCd" fieldname="CntryCd" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" id="CntryCdLookup">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="pure-u-sm-15-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CntryNm" fieldname="CntryNm" name="CntryNm" readonly/>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Fsc" class="control-label">@Resources.Locale.L_ExpressAdd_FSC</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="Fsc" name="Fsc" fieldname="Fsc" />
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="CreateBy" class="control-label">@Resources.Locale.L_IQTManage_CreateBy</label>
                        </div>
                        <div class="pure-u-sm-7-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateBy" name="CreateBy" fieldname="CreateBy" readonly />
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateDate" name="CreateDate" fieldname="CreateDate" readonly>
                        </div>
                        <div class="pure-u-sm-13-60 label-right">
                            <label for="ModifyBy" class="control-label">@Resources.Locale.L_IQTManage_ModifyDate</label>
                        </div>
                        <div class="pure-u-sm-7-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ModifyBy" name="ModifyBy" fieldname="ModifyBy" readonly />
                        </div>
                        <div class="pure-u-sm-10-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="ModifyDate" name="ModifyDate" fieldname="ModifyDate" readonly />
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="Cmp" class="control-label">Location</label>
                        </div>
                        <div class="pure-u-sm-3-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="Cmp" name="Cmp" fieldname="Cmp" readonly />
                        </div>

                    </div>

                </div>
             </div>
        </div>
    </div>
</div>
<input type="hidden" dt="mt" id="UId" name="UId" fieldname="UId" isKey="true" />

