@{
    ViewBag.Title = "CntySetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #page-wrapper {
        padding: 5px;
    }  
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/TKBL/initView.js?20240815")"></script>
@Html.RazorJSInline("~/Scripts/Cnty/CntySetup.js")

<script type="text/javascript">
    var _uid  = "@ViewBag.CntryCd";
    //var CntryCd = "@ViewBag.CntryCd";
    var gid = "@ViewBag.GroupId";
    var cid = "@ViewBag.Cmp";
    var schemas = "@ViewBag.schemas.Content";
</script>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="CntryCd" class="control-label">@Resources.Locale.L_CitySetup_CntryCd</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" isKey="true" dt="mt" id="CntryCd" name="CntryCd" fieldname="CntryCd" />
                            <p class="help-block tooltips"></p>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="CntryNm" class="control-label">@Resources.Locale.L_CntySetup_CntryNm</label>
                        </div>
                        <div class="pure-u-sm-10-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="CntryNm" name="CntryNm" fieldname="CntryNm" />
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-10-60">
                            <label for="ShippingInstruction" class="control-label">Shipping Instruction</label>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-55-60 control-group">
                            <textarea class="form-control" dt="mt" id="ShippingInstruction" name="ShippingInstruction" fieldname="ShippingInstruction"></textarea>
                            <p class="help-block tooltips"></p>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-sm-5-60">
                            <label for="CreateBy" class="control-label">@Resources.Locale.L_NRSSetup_CreateBy</label>
                        </div>
                        <div class="pure-u-sm-4-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateBy" fieldname="CreateBy" readonly />
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="CreateDate" fieldname="CreateDate" readonly>
                        </div>
                        <div class="pure-u-sm-5-60 label-right">
                            <label for="ModifyBy" class="control-label">@Resources.Locale.L_NRSSetup_ModifyBy</label>
                        </div>
                        <div class="pure-u-sm-4-60 control-group">
                            <input type="text" class="form-control input-sm" dt="mt" id="ModifyBy" fieldname="ModifyBy" readonly />
                        </div>
                        <div class="pure-u-sm-6-60">
                            <input type="text" class="form-control input-sm" dt="mt" id="ModifyDate" fieldname="ModifyDate" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" isKey="true" dt="mt" id="GroupId" name="GroupId" fieldname="GroupId" />
<input type="hidden" isKey="true" dt="mt" id="Cmp" name="Cmp" fieldname="Cmp" />
<input type="hidden" isKey="true" dt="mt" id="Stn" name="Stn" fieldname="Stn" />