@{
    ViewBag.Title = "UserQueryO";
}


<script type="text/javascript">
    $(document).ready(function ($) {

        //init Search
        var gop = {};
        var numberTemplate = "2";
        var docHeight = $(document).height();
        gridHeight = docHeight - 230;
        gop.gridColModel = [
            { name: 'UId', title: '@Resources.Locale.L_UserSetUp_U_ID', index: 'UId', sorttype: 'string', hidden: false, viewable: false, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] },
            { name: 'UName', title: '@Resources.Locale.L_UserSetUp_U_NAME', index: 'UName', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'UStatus', title: '@Resources.Locale.L_UserQuery_UStatus', index: 'UStatus', width: 90, align: 'left', sorttype: 'string', hidden: false,formatter: "select",editoptions: { value: '0:@Resources.Locale.L_UserSetUp_Enable;1:@Resources.Locale.L_UserSetUp_Disable' } },
            { name: 'GroupId', title: '@Resources.Locale.L_UserSetUp_GroupId', index: 'GroupId', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'Cmp', title: '@Resources.Locale.L_UserSetUp_Cmp', index: 'Cmp', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'Stn', title: '@Resources.Locale.L_IpPart_Stn', index: 'Stn', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'Dep', title: '@Resources.Locale.L_UserSetUp_Dep', index: 'Dep', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'UPhone', title: '@Resources.Locale.L_UserSetUp_UPhone', index: 'UPhone', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'UEmail', title: '@Resources.Locale.L_UserSetUp_UEmail', index: 'UEmail', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'UWechat', title: '@Resources.Locale.L_UserQuery_UWechat', index: 'UWechat', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'UQq', title: '@Resources.Locale.L_UserQuery_UQq', index: 'UQq', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'ModiPwDate', title: '@Resources.Locale.L_UserSetUp_ModiPwDate', index: 'ModiPwDate', width: 300, align: 'left', sorttype: 'string', hidden: false },
            { name: 'UpdatePriDate', title: '@Resources.Locale.L_UserSetUp_NextDate', index: 'UpdatePriDate', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'CreateBy', title: '@Resources.Locale.L_BsrptManage_CreateBy', index: 'CreateBy', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'CreateDate', title: '@Resources.Locale.L_BookingQuery_Views_293', index: 'CreateDate', width: 150, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }, viewable: true, sopt: ['eq', 'ne', 'cn', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] },
            { name: 'ModifyBy', title: '@Resources.Locale.L_BsrptManage_ModifBy', index: 'ModifyBy', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'ModifyDate', title: '@Resources.Locale.L_BsrptManage_ModifyDate', index: 'ModifyDate', width: 150, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }, viewable: true, sopt: ['eq', 'ne', 'cn', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni']},
            { name: 'UPri', title: '@Resources.Locale.L_UserSetUp_UPri', index: 'UPri', width: 150, align: 'left', sorttype: 'string', hidden: false, formatter: "select", editoptions: { value: 'G:@Resources.Locale.L_BSCSSetup_GroupId;C:Location;D:@Resources.Locale.L_GateReserveSetup_CreateDep;U:@Resources.Locale.L_UserSetUp_Personal' } },
            { name: 'LoginDate', title: '@Resources.Locale.L_UserSetup_LoginDate', index: 'LoginDate', width: 150, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }, viewable: true, sopt: ['eq', 'ne', 'cn', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] },
            { name: 'StopBy', title: '@Resources.Locale.L_UserSetup_StopBy', index: 'StopBy', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'StopDate', title: '@Resources.Locale.L_UserSetup_StopDate', index: 'StopDate', width: 150, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }, viewable: true, sopt: ['eq', 'ne', 'cn', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] },
            { name: 'PermissionBy', title: '@Resources.Locale.L_UserSetup_PermissionBy', index: 'StopBy', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'PermissionDateL', title: '@Resources.Locale.L_UserSetup_PermissionDate', index: 'StopDate', width: 150, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }, viewable: true, sopt: ['eq', 'ne', 'cn', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] },
            { name: 'BaseCmp', title: 'Base Company', index: 'BaseCmp', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'Lang', title: '@Resources.Locale.TLB_LANG', index: 'Lang', width: 150, align: 'left', sorttype: 'string', hidden: false, formatter: "select", editoptions: { value: 'zh-CN:@Resources.Locale.L_Login_Views_461;zh-TW: @Resources.Locale.L_Login_Views_462;en-US:English;ru-RU:Russia' } },
            { name: 'DefaultSite', title: '@Resources.Locale.L_DefaultCmp', index: 'DefaultSite', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'RoleAssign', title: 'Role Assign', index: 'RoleAssign', width: 200, align: 'left', sorttype: 'string', hidden: false }
        ];
        gop.AddUrl = { "url": rootPath + "System/UserSetUpO", "title": "@Resources.Locale.L_UserQueryO_EnterOUser", "id": "UserSetUpO" };
        gop.gridId = "containerInfoGrid";
        gop.gridAttr = { caption: "@Resources.Locale.L_UserQueryO_OUser", height: gridHeight, refresh: true, exportexcel: true, conditions: encodeURI(loadCondition) };
        gop.baseCondition = " GROUP_ID='" + groupId + "' AND IO_FLAG='O'";
        gop.gridSearchUrl = rootPath + "System/UserOQueryData";
        gop.searchColumns = getSelectColumn(gop.gridColModel);
        //SAVE CONDITION 為避免以後須調整畫面，ID都要傳到元件
        gop.searchFormId = "ConditionArea";
        gop.searchDivId = "SearchArea";
        gop.StatusAreaId = "StatusArea";
        gop.BtnGroupId = "BtnGroupArea";


        gop.gridFunc = function (map) {
            //用于回调函数，例如赋值操作等
            dblClick(map);
        }

        gop.baseConditionFunc = function () {
            return getCreateDateParams("CreateDate", gop);
        }

        gop.searchFormId = "ConditionArea";
        gop.searchDivId = "SearchArea";
        gop.loadCompleteFunc = function () {
            var $grid = $("#containerInfoGrid");
            if ($grid.length > 0 && $grid[0].p && !$grid[0].p.sortname)
                $grid[0].p.sortname = "";
        }

        initSearch(gop);

        function dblClick(map) {
            var UId = map.UId;
            var GroupId = map.GroupId;
            var Cmp = map.Cmp;
            var Stn = map.Stn;
            top.topManager.openPage({
                href: rootPath + "System/UserSetUpO?UId=" + UId + "&GroupId=" + GroupId + "&Cmp=" + Cmp + "&Stn=" + Stn,
                title: '@Resources.Locale.L_UserQueryO_EnterOUser',
                id: 'UserSetUpO',
                search: 'uid=' + UId
            });
        }
    });

</script>
<div id="wrapper" class='@Html.Raw(ViewBag.MenuBar)'>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--SAVE CONDITION 固定以下排版，不可在此區植入SCRIPT-->
                    <div class="condition-layout">
                        <form class="pure-g" id="ConditionArea">
                        </form>
                        <div class="pure-g" id="SearchArea">

                        </div>
                        <div class="pure-g" id="val">
                            <label style="color:red">@Resources.Locale.L_CreateDateSixMonthMsg</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g" id="BtnGroupArea">

                    </div>
                    <div class="pure-g" id="StatusArea">

                    </div>
                    <div class="form-group">
                        <div class="pure-g">
                            <div class="pure-u-sm-60-60">
                                <table id="containerInfoGrid" class="_tableGrid" style="width: 100%">
                                    <tr></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>