@{
    ViewBag.Title = "EventSetup";
}


<script type="text/javascript">
    var selectNotifyFormat = "@ViewBag.SelectNotifyFormat";
    var select_tranmode = "@ViewBag.SelectTranMode";
</script>
@Html.RazorJSInline("~/Scripts/TKBL/EventSetup.js")
<div id="wrapper" class='@Html.Raw(ViewBag.MenuBar)'>
    <div id="page-wrapper">
        <div class="container-fluid">
			<div class="panel panel-default">
                <div class="panel-body">
                	<!--SAVE CONDITION 固定以下排版，不可在此區植入SCRIPT-->
                    <div class="condition-layout">
                        <form class="pure-g" id="ConditionArea">
                        </form>
                        <div class="pure-g" id="SearchArea">

                        </div>
                        <div class="pure-g" id="val">
                            <label style="color:red">@Resources.Locale.L_CreateDateSixMonthMsg</label>
                        </div>
                    </div>
		  		</div>
			</div>
			<div class="panel panel-default">
                <div class="panel-body">
                	<div class="pure-g" id="BtnGroupArea">

                	</div>
                	<div class="pure-g" id="StatusArea">

                	</div>
		        	<div class="pure-g">
		        		<div class="pure-u-sm-30-30">
		                    <table id="MainGrid" class="_tableGrid" style="width: 100%">
		                        <tr>
		                            
		                        </tr>
		                    </table>
		        		</div>
		        	</div>

	        		<div class="pure-g">
	        			<div class="pure-u-sm-30-30">
	        	            <table id="SubGrid" class="_tableGrid" style="width: 100%">
	        	                <tr>
	        	                    
	        	                </tr>
	        	            </table>
	        			</div>
	        		</div>
		  		</div>
			</div>
        </div>
    </div>
</div>

