@{
    ViewBag.Title = "NRSDataQuery";
}


<script type="text/javascript">
    $(document).ready(function ($) {

        //init Search
        var gop = {};
        var numberTemplate = "2";
        var docHeight = $(document).height();
        gridHeight = docHeight - 330;
        gop.gridColModel = [
            { name: 'UId', showname: 'ID', sorttype: 'string', hidden: true, viewable: false },
            { name: 'SeqNo', showname: 'SeqNo', sorttype: 'string', hidden: true, viewable: false },
            { name: 'PartyType', title: '@Resources.Locale.L_NRSDataQuery_PartyType', index: 'PartyType', width: 70, align: 'left', sorttype: 'string', hidden: false },
            { name: 'PartyDescp', title: '@Resources.Locale.L_NRSDataQuery_PartyDescp', index: 'PartyDescp', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'NotifyCd', title: '@Resources.Locale.L_NRSDataQuery_NotifyCd', index: 'NotifyCd', width: 90, align: 'left', sorttype: 'string', hidden: false },
            { name: 'NotifyDescp', title: '@Resources.Locale.L_NRSDataQuery_NotifyDescp', index: 'NotifyDescp', width: 80, align: 'left', sorttype: 'string', hidden: false },
            { name: 'StartHour', title: '@Resources.Locale.L_NRSDataQuery_StartHour', index: 'StartHour', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'NotifyFormat', title: '@Resources.Locale.L_NRSDataQuery_NotifyFormat', index: 'NotifyFormat', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'NotifyTimes', title: '@Resources.Locale.L_NRSDataQuery_NotifyTimes', index: 'NotifyTimes', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'NotifyPeriod', title: '@Resources.Locale.L_NRSDataQuery_NotifyPeriod', index: 'NotifyPeriod', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'RequestCd', title: '@Resources.Locale.L_NRSDataQuery_RequestCd', index: 'RequestCd', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'RequestDescp', title: '@Resources.Locale.L_NRSDataQuery_RequestDescp', index: 'RequestDescp', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'Cmp', title: '@Resources.Locale.L_NRSDataQuery_Cmp', index: 'Cmp', width: 150, align: 'left', sorttype: 'string', hidden: false },
            { name: 'Remark', title: '@Resources.Locale.L_NRSDataQuery_Remark', index: 'Remark', width: 300, align: 'left', sorttype: 'string', hidden: true },
           
        ];
        gop.AddUrl = { "url": rootPath + "TKBL/NRSSetup", "title": "@Resources.Locale.L_NRSDataQuery_title", "id": "NRSSetup" };
        gop.gridId = "containerInfoGrid";
        gop.gridAttr = { caption: "@Resources.Locale.L_NRSDataQuery_caption", height: gridHeight, refresh: true, exportexcel: true, conditions: encodeURI(loadCondition) };
        //gop.gridSearchUrl = rootPath + "IPPOM/POMSetupInquiryData";
        gop.gridSearchUrl = rootPath + "TKBL/GetNotifyData";
        gop.searchColumns = getSelectColumn(gop.gridColModel);

        //SAVE CONDITION 為避免以後須調整畫面，ID都要傳到元件
        gop.searchFormId = "ConditionArea";
        gop.searchDivId = "SearchArea"; 
        gop.StatusAreaId = "StatusArea";
        gop.BtnGroupId = "BtnGroupArea";

        
        gop.gridFunc = function (map) {
            //用于回调函数，例如赋值操作等
            dblClick(map);
        }

        gop.baseConditionFunc = function () {
            return getCreateDateParams("CreateDate", gop);
        }

        gop.searchFormId = "ConditionArea";
        gop.searchDivId = "SearchArea";
        gop.loadCompleteFunc = function () {
            var $grid = $("#containerInfoGrid");
            if ($grid.length > 0 && $grid[0].p && !$grid[0].p.sortname)
                $grid[0].p.sortname = "SeqNo";
        }

        initSearch(gop);

        function dblClick(map) {
            var UId = map.UId;
            top.topManager.openPage({
                href: rootPath + "TKBL/NRSSetup/" + UId,
                title: '@Resources.Locale.L_NRSDataQuery_title',
                id: 'NRSSetup',
                search : 'uid=' + UId
            });
        }
    });

</script>
<div id="wrapper" class='@Html.Raw(ViewBag.MenuBar)'>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <!--SAVE CONDITION 固定以下排版，不可在此區植入SCRIPT-->
                    <div class="condition-layout">
                        <form class="pure-g" id="ConditionArea">
                        </form>
                        <div class="pure-g" id="SearchArea">

                        </div>
                        <div class="pure-g" id="val">
                            <label style="color:red">@Resources.Locale.L_CreateDateSixMonthMsg</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g" id="BtnGroupArea">

                    </div>
                    <div class="pure-g" id="StatusArea">

                    </div>
                    <div class="form-group">
                        <div class="pure-g">
                            <div class="pure-u-sm-60-60">
                                <table id="containerInfoGrid" class="_tableGrid" style="width: 100%">
                                    <tr>                                        
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
