@{
    ViewBag.Title = "TKSetup";
}
<script type="text/javascript">
	var _uid = "@ViewBag.Uid";
	var schemas = "@ViewBag.schemas.Content";
</script>


<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                	<div class="pure-g">
						<div class="pure-u-sm-5-60">
							<label for="StsCd" class="control-label">@Resources.Locale.L_TKQuery_StsCd</label>
						</div>
						<div class="pure-u-sm-10-60 control-group">
							<input type="text" class="form-control input-sm" dt="mt" id="StsCd" name="StsCd" fieldname="StsCd" />
						    <p class="help-block tooltips"></p>
						</div>
					</div>
					<div class="pure-g">
						<div class="pure-u-sm-5-60">
							<label for="Edescp" class="control-label">@Resources.Locale.L_TKQuery_Edescp</label>
						</div>
						<div class="pure-u-sm-25-60 control-group">
							<input type="text" class="form-control input-sm" dt="mt" id="Edescp" name="Edescp" fieldname="Edescp" />
						    <p class="help-block tooltips"></p>
						</div>
						<div class="pure-u-sm-5-60 label-right">
							<label for="Ldescp" class="control-label">@Resources.Locale.L_TKQuery_Ldescp</label>
						</div>
						<div class="pure-u-sm-25-60 control-group">
							<input type="text" class="form-control input-sm" dt="mt" id="Ldescp" name="Ldescp" fieldname="Ldescp" />
						    <p class="help-block tooltips"></p>
						</div>
					</div>
					<div class="pure-g">
						<div class="pure-u-sm-5-60">
						    <label for="Location" class="control-label">@Resources.Locale.L_TKQuery_Location</label>
						</div>
						<div class="pure-u-sm-10-60 control-group">
						    <div class="input-group">
						        <input type="text" class="form-control input-sm" dt="mt" id="Location" name="Location" fieldname="Location" />
						        <span class="input-group-btn">
						            <button class="btn btn-sm btn-default" type="button" id="LocationLookup">
						                <span class="glyphicon glyphicon-search"></span>
						            </button>
						        </span>
						    </div>
						    <p class="help-block tooltips"></p>
						</div>
						<div class="pure-u-sm-5-60 label-right">
							<label for="OrderBy" class="control-label">@Resources.Locale.L_TKQuery_OrderBy</label>
						</div>
						<div class="pure-u-sm-10-60 control-group">
							<input type="text" class="form-control input-sm" dt="mt" id="OrderBy" name="OrderBy" fieldname="OrderBy" readonly="readonly" />
						    <p class="help-block tooltips"></p>
						</div>
						<div class="pure-u-sm-5-60 label-right">
							<label for="Issingle" class="control-label">@Resources.Locale.L_TKQuery_Issingle</label>
						</div>
						<div class="pure-u-sm-10-60 control-group">
							<input type="text" class="form-control input-sm" dt="mt" id="Issingle" name="Issingle" fieldname="Issingle" />
						    <p class="help-block tooltips"></p>
						</div>
						<div class="pure-u-sm-5-60 label-right">
							<label for="RefBy" class="control-label">Refrence By</label>
						</div>
						<div class="pure-u-sm-10-60 control-group">
							<input type="text" class="form-control input-sm lastInput" dt="mt" id="RefBy" name="RefBy" fieldname="RefBy" />
						    <p class="help-block tooltips"></p>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.RazorJSInline("~/Scripts/TKBL/TKSetup.js")
