@{
    ViewBag.Title = "BSTPSQuery";
}

<script type="text/javascript">
    var select_tranmode = "@ViewBag.SelectTranMode";
    $(document).ready(function ($) {
        var gop = {};
        var docHeight = $(document).height();
        gridHeight = docHeight - 230;
        select_tranmode += ";O:ALL;";
        gop.gridColModel = [
            { name: 'UId', title: 'UID', showname: 'ID', sorttype: 'string', hidden: true },
            { name: 'Cmp', title: 'Location', index: 'Cmp', width: 90, align: 'left', sorttype: 'string', hidden: false },
            { name: 'TranType', title: '@Resources.Locale.L_DTFreightQuery_Views_503 ', index: 'TranType', width: 100, align: 'left', sorttype: 'string', hidden: false,formatter: "select", editoptions: { value: select_tranmode } },
            { name: 'PortCd', title: 'POD', index: 'PortCd', width: 90, align: 'left', sorttype: 'string', hidden: false },
            { name: 'PortNm', title: 'POD Name', index: 'PortNm', width: 90, align: 'left', sorttype: 'string', hidden: false },
            { name: 'DlvArea', title: 'Delivery Area', index: 'DlvArea', width: 90, align: 'left', sorttype: 'string', hidden: false },
            { name: 'DlvAreaNm', title: 'Delivery Area Name', index: 'DlvAreaNm', width: 90, align: 'left', sorttype: 'string', hidden: false },
            { name: 'Remark', title: '@Resources.Locale.L_BSCSSetup_Remark', index: 'Remark', width: 90, align: 'left', sorttype: 'string', hidden: false },
            { name: 'CreateBy', title: '@Resources.Locale.L_Bsdate_CreateBy', index: 'CreateBy', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'CreateDate', title: '@Resources.Locale.L_Bsdate_CreateDate', index: 'CreateDate', width: 100, align: 'left', formatter: "date", formatoptions: { srcformat: 'ISO8601Long', newformat: 'Y-m-d H:i A', defaultValue: null }, viewable: true, sopt: ['eq', 'ne', 'cn', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] },
            { name: 'ModifyBy', title: '@Resources.Locale.L_Bsdate_ModifyBy', index: 'ModifyBy', width: 100, align: 'left', sorttype: 'string', hidden: false },
            { name: 'ModifyDate', title: '@Resources.Locale.L_Bsdate_ModifyDate', index: 'ModifyDate', width: 100, align: 'left', formatter: "date", formatoptions: { srcformat: 'ISO8601Long', newformat: 'Y-m-d H:i A', defaultValue: null }, viewable: true, sopt: ['eq', 'ne', 'cn', 'lt', 'le', 'gt', 'ge', 'nu', 'nn', 'in', 'ni'] }

        ];
        gop.AddUrl = { "url": rootPath + "BSTPS/BSTPSSetup", "title": "@Resources.Locale.L_BSTPSSetup", "id": "BSTPSSetup" };
        gop.gridId = "containerInfoGrid";
        gop.gridAttr = { caption: "@Resources.Locale.L_ProcessList", height: gridHeight, refresh: true, exportexcel: true, conditions: encodeURI(loadCondition) };
        gop.gridSearchUrl = rootPath + "BSTPS/BSTPSQueryData";
        gop.searchColumns = getSelectColumn(gop.gridColModel);
        //SAVE CONDITION 為避免以後須調整畫面，ID都要傳到元件
        gop.searchFormId = "ConditionArea";
        gop.searchDivId = "SearchArea";
        gop.StatusAreaId = "StatusArea";
        gop.BtnGroupId = "BtnGroupArea";

        gop.gridFunc = function (map) {
            //用于回调函数，例如赋值操作等
            dblClick(map);
        }

        gop.baseConditionFunc = function () {
            return getCreateDateParams("CreateDate", gop);
        }

        gop.searchFormId = "ConditionArea";
        gop.searchDivId = "SearchArea";

        initSearch(gop);

        function dblClick(map) {
            var UId = map.UId;
            top.topManager.openPage({
                href: rootPath + "BSTPS/BSTPSSetup/" + UId,
                title: '@Resources.Locale.L_BSTPSSetup',
                id: 'BSTPSSetup',
                search : 'uid=' + UId
            });
        }
    });

</script>

<div id="wrapper" class='@Html.Raw(ViewBag.MenuBar)'>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--SAVE CONDITION 固定以下排版，不可在此區植入SCRIPT-->
                    <div class="condition-layout">
                        <form class="pure-g" id="ConditionArea">
                        </form>
                        <div class="pure-g" id="SearchArea">

                        </div>
                        <div class="pure-g" id="val">
                            <label style="color:red">@Resources.Locale.L_CreateDateSixMonthMsg</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pure-g" id="BtnGroupArea">

                    </div>
                    <div class="pure-g" id="StatusArea">

                    </div>
                    <div class="form-group">
                        <div class="pure-g">
                            <div class="pure-u-sm-60-60">
                                <table id="containerInfoGrid" class="_tableGrid" style="width: 100%">
                                    <tr>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

